<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/home_style.css' %}">
</head>
<body>

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="query" placeholder="Enter product name" required>

         <!-- 價格篩選 -->
         <label for="min_price">Min Price:</label>
         <input type="number" name="min_price" placeholder="Min price" min="0">
         
         <label for="max_price">Max Price:</label>
         <input type="number" name="max_price" placeholder="Max price" min="0">

        <button type="submit">Search</button>
    </form>
</body>
</html>